<!DOCTYPE html>
<html>
<head>
	<title>list vaccine</title>
</head>
<body>
	<center>
	<h1>LIST OF VACCINE</h1>
	<form method="post">
		<table>
             {% csrf_token %}
			<tr>
				<th>Vaccine name</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>Expiry date</th>
				<td><input type="date" name="date"></td>
			</tr>
			<tr>
				<th>details</th>
				<td><input type="text" name="dt" ></td>

			</tr>
			<tr>
				<td></td>
				<td><input type="submit" name="submit"></td>
			</tr>

</body>
</html>