<!DOCTYPE html>
<html>
<head>
	<title>List of vaccine</title>
</head>
<body><center>
	<table border="2">
		<h1>LIST OF VACCINE</h1>
		<tr>
			<th>Vaccine name</th>
			<th>Expire date</th>
			<th>availability</th>
			<th></th>

		</tr>
        {% for i in oo %}
		<tr>
			<td>{{ i.vaccine_name }}</td>
			<td>{{ i.expire_date }}</td>
            <td>{{ i.availability }}</td>
            <td>{{ i. }}</td>
{#            <td><a href="/vaccine_details/avlbl/{{ i.list_id }}">available</a> </td>#}
{#            <td><a href="/vaccine_details/unav/{{ i.list_id }}" >unavailable</a></td>#}
		</tr>
        {% endfor %}
	</table>

</body>
</html>