<!DOCTYPE html>
<html>
<head>
	<title>child details</title>

</head>
<body>
	<center>
		<h1>DETAILS OF CHILD</h1>
		<form method="post">
			<table>
                {% csrf_token %}

				<tr>
					<th>Name</th>
					<td><input type="text" name="name"></td>
				</tr>
				<tr>
					<th>Age</th>
					<td><input type="text" name="age"></td>
				</tr>
				<tr>
					<th>DOB</th>
					<td><input type="date" name="date"></td>
				</tr>
                 <tr>
                <th>parent</th>
                <td>
                    <select name="p">
                        {% for i in i %}
                             <option value="{{ i.p_id}}">{{ i.name }}</option>
                        {% endfor %}

                    </select>
                </td>
            </tr>
				<tr>
					<th>Vaccination Report</th>
					<td><input type="file" name="report"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="add"></td>
				</tr>
			</table>

</body>
</html>