<!DOCTYPE html>
<html>
<head>
	<title>hospital profile</title>
</head>
<body>
	<center>
	<h1>HOSPITAL PROFILE</h1>
	<form method="post">
		<table>
             {% csrf_token %}
			<tr>
				<th>Name</th>
				<td><input type="text" name="name"></td>
			</tr>
			<tr>
				<th>Location</th>
				<td><input type="text" name="location"></td>
			</tr>
			<tr>
			    <th>Contact no</th>
				<td><input type="phone" name="phone"></td>
			</tr>
			<tr>
			    <th>E_mail</th>
				<td><input type="mail" name="mail"></td>
			</tr>
			<tr>
			    <th>Since</th>
				<td><input type="year" name="year"></td>
			</tr>
			<tr>
					<td></td>
					<td><input type="submit" name="submit"></td>
				</tr>
			</table>



</body>
</html>